.select-button {
  &--active {
  }
}

@import '../../styles/index';

.select-buttons {
  width: 100%;
  grid-gap: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 26px;
  margin-bottom: 52px;

  &-grid {
    display: grid;
    grid-template-columns: repeat(4, 64px);
    grid-gap: 10px;

    .select-button {
      font-size: 14px;
    }
  }
}

.select-button {
  width: 100%;
  height: 60px;
  border: 1px solid $purple;
  background: $black;
  color: $white;
  font-size: 20px;
  font-family: $primaryFont;
  box-shadow: 0;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  &:hover,
  &:focus,
  &--active {
    background: $green;
    color: $black;
    border: 1px solid $green;
  }

  &--homescreen {
    margin-top: 114px;
  }
}
