@import './styles/index';

body,
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container {
  background: $black;
  color: $white;
  font-family: $primaryFont;
  flex: 1;
  padding: 24px 40px;
}
